# Telegram Bot Token (t.me/BotFather orqali oling)
BOT_TOKEN=8701673908:AAGk2e6J8X79AvVE2VuajywwiuvnK_GhqC8

# OpenAI API Key
OPENAI_API_KEY=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

# Groq API Key (opsional)
GROQ_KEY=YOUR_GROQ_KEY_HERE

# Admin ID
ADMIN_ID=8103843122

# Kanal ID (obuna tekshirish uchun)
REQUIRED_CHANNEL=channel_username_or_id

# Bot sozlamalari
FLOOD_RATE=1.5
BAN_THRESHOLD=5
MAX_FILE_MB=45
DOWNLOADS_DIR=downloads
